In [82]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [6]:
#내장 함수 Built-in Function

print(abs(-1))
print(abs(1))

1
1

In [45]:
print(max(1,2,3,4,5,6,7,8,9,10)) #max(arg1,arg2,arg3 ........)
print(max([1,2,3])) #max(iterable) 받는 인자가 위와 다르다
print(max("python"))
print(max("가갸거겨고교"))

10
3
y
교

In [17]:
print(min(1,2))
print(min([1,2,3]))
print(min("python유니코드"))
print(max("가갸거겨고교"))

1
1
h
교

In [25]:
print(ord('핡'))

54625

In [26]:
print(chr(54356))

푝

In [42]:
for i in range(65, 91):
    print(chr(i), end=" ")

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [46]:
max?

In [47]:
chr?

In [58]:
print(str(3))
print(str([1,2]))
a = 1
c = 1.23
b = str(2)
#객체를 문자열로 바꿔주는 함수,  b에 문자 객체가 생성된다.

3
[1, 2]

In [59]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

In [61]:
print(list(range(10)))
print(list(range(3,10)))
print(list(range(3, 10,2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8, 9]
[3, 5, 7, 9]

In [63]:
c = range(5)
print(type(c))

# 따라서 range 는 python2에서는 list였지만 3에서 부터는 range이다. 
# 왜? 자세한건 나중에
# for i in list(range(10)) 으로 코딩을 하면 미리 메모리에 넣어놔서 메모리를 소모.
# for i in range(10)  range class는 순차적으로 꺼내서 메모리에 부담이 거의 없음.

<class 'range'>

In [65]:
c = list(range(5))
print(type(c))

<class 'list'>

In [66]:
# 파이썬은 " 함수도 객체 "

In [67]:
def aaa():
    print("hello") #aaa에 print("hello") 객체를 가르킴

In [68]:
aaa()

hello

In [69]:
bbb = 1 #bbb 1 객체를 가르킴
aaa = 2 #aaa 2 객체를 가르킴 예전에 hello를 가르켰던 것이 사라지며 hello객체는 쓰레기가됌.

In [75]:
x=y=z= 10 #동일한 객체를 가리키고 있기 때문에 조심

In [76]:
print(x, y, z)

10 10 10

In [77]:
print(type(x),type(y),type(z))

<class 'int'> <class 'int'> <class 'int'>

In [78]:
x = 9

In [79]:
print(type(x),type(y),type(z))
print(x, y, z)

<class 'int'> <class 'int'> <class 'int'>
9 10 10

In [80]:
x = y= z= [1,2,3]
print(x,y,z)
x[0] = 100 #가르키는 객체의 첫번째 원소를 100으로 바꾼다
print(x,y,z) #가르키는 객체의 첫번째원소를 100으로 바꾸니 y,z 또한 바뀐다

[1, 2, 3] [1, 2, 3] [1, 2, 3]
[100, 2, 3] [100, 2, 3] [100, 2, 3]

In [81]:
x+y; #experssion(식) ,statement(문장) 문장뒤에 ;