### List

In [1]:
L = range(10)
print(L)
print(L[::2])
print(L[::-1])
print(4 in L)
print()
print(list(L))
print(list(L)[::2])
print(list(L)[::-1])

range(0, 10)
range(0, 10, 2)
range(9, -1, -1)
True

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### Tuple 
##### immutable , can't change any value inside Tuple

In [2]:
t = (1,2,3)

print(t+t+t) #그냥 t값은 그대로 t 3번더해서 그냥 리턴해줌
print(t *3) #그냥 t값은 그대로

(1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

### dictionary
##### key : value mapping
##### key more importent then value, the series ain't that importent

In [3]:
d = {'one' : 1, 'two': 'dul'}
print(d.keys()) # 키값만 dict_keys 객체로 추출, 하지만 파이썬 2에서는 리스트로 추출됐다.
print(d.values()) # 값만 dict_values 객체로 추출, 하지만 파이썬 2에서는 리스트로 추출됐다.
print(d.items())

dict_keys(['one', 'two'])
dict_values([1, 'dul'])
dict_items([('one', 1), ('two', 'dul')])

In [4]:
print(type(d.keys()))

<class 'dict_keys'>

In [7]:
d = {}
for k in range(100000):
    d[k] = k+1
print(d[0],d[1],d[2])
q = d.keys()
q2 = list(q)
print(q2[0])

1 2 3
0

In [9]:
print(type(None)) #NoneType 객체, 아무 값도 없음을 나타내는 객체

<class 'NoneType'>
None

In [23]:
# 작은 값의 정수는 계속하여 별도로 객체를 생성하지 않음 256까지 같음
x = 256
y = 256
print(id(x))
print(id(y))
print(x is y)

4372276544
4372276544
True

In [11]:
# 큰 값의 정수는 별도로 객체를 생성
x = 10000000000
y = 10000000000
print(id(x))
print(id(y))
print(x is y)

4413174896
4413174512
False

In [24]:
c = [1,2,3]
d = [1,2,3]
print(c is d)

False

In [27]:
x=(1,)
y=(1,)
print(x is y)
print(id(x) == id(y))
print(x==y)

False
False
True

In [28]:
t = (1) #이런 괄호는 계산 괄호로 침 튜플이 아니라
print(type(t))
t2 = (1+1)
print(type(t2))

<class 'int'>
<class 'int'>